
.centrar-texto {
    text-align: center;
}
#principal{
    width: 100px;
    float: left;
    border-radius: 100%;
}
.login-box{
    border: 2px solid #db9d67;
    margin: 50px 25px;
    padding: 10px 5px;
    box-shadow: 10px 10px rgb(225, 197, 146);
    text-align: center;
    background-color: #a3ae84;
}
.container{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;

}
.fondo-index{
    background-color: #f3f3f3;
}
.fondo-pagina{
    background-color: #4f6056;
}
.boton{
    background-color: #f3e8be;
}
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
main {
    margin-top: 20px;
    padding: 20px;
}
.enlaces{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.subtitulos{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
table{
    width: 100%;
    border: 1px solid #db9d67;
}
th, td{
    width: 75%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #db9d67;
}
input[type="date"] {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}
.result {
    margin-top: 20px;
    font-size: 1.2em;
}